/* Start Logo */

@font-face {
  font-family: GigaSans;
  font-weight: bold;
  src: url("./../fonts/GigaSansExtraBold.otf") format("opentype");
}

.white-box {
  left: -50%;
  position: relative;

  width: 200px;
  height: 180px;

  background: rgb(255, 255, 255);
}

.white-box p {
  font-size: 40px;
  font-weight: bold;
  font-family: GigaSans;
  color: #95b8cb;
  line-height: 53px;
}

element.style {
  background-color: #c4d6e2;
}

a.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ffffff;
  color: #00203fff;
  text-decoration: none;
  border: 2px solid #00203fff;
  border-radius: 5px;
  font-weight: bold;
}

a.button:active {
  background-color: #00203fff;
  color: #ffffff;
  border: 2px solid #ffffff;
}


.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}