/* Start Logo */

@font-face {
  font-family: GigaSans;
  font-weight: bold;
  src: url("./../fonts/GigaSansExtraBold.otf") format("opentype");
}

.white-box {
  left: -50%;
  position: relative;

  width: 190px;
  height: 170px;
  background: rgb(255, 255, 255);

  display: flex;
  justify-content: center;
  align-items: center;
}

.white-box p {
  margin: 0px;
  font-size: 30px;
  font-weight: bold;
  font-family: GigaSans;
  color: #95b8cb;
}

.white-box .logo-name {
  vertical-align: middle;
}


element.style {
  background-color: #c4d6e2;
}