/* Start Logo */

@font-face {
  font-family: GigaSans;
  font-weight: bold;
  src: url("./../fonts/GigaSansExtraBold.otf") format("opentype");
}

.white-box {
  left: -50%;
  position: relative;

  width: 200px;
  height: 180px;

  background: rgb(255, 255, 255);
}

.white-box p {
  font-size: 40px;
  font-weight: bold;
  font-family: GigaSans;
  color: #95b8cb;
  line-height: 53px;
}

element.style {
  background-color: #c4d6e2;
}

