.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
body,
h1,
h2,
h3,
h4,
h5,
h6,
html {
  font-family: Montserrat, sans-serif;
  font-weight: 300;
}
.cta a:hover,
.menu-navigation a {
  text-decoration: none;
}
body,
html {
  color: #555;
  height: 100%;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  color: #333;
}
.no-padding {
  padding: 0;
}
.row {
  margin: 0;
}
blockquote {
  text-align: center;
  border-left: none;
  margin: 0;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  font-size: 20px;
}
blockquote:after,
blockquote:before {
  color: #ccc;
  font-size: 4em;
  line-height: 0.1em;
}
blockquote:before {
  content: open-quote;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote:after {
  content: close-quote;
  margin-left: 0.25em;
  vertical-align: -0.7em;
}
blockquote p {
  display: inline;
}
blockquote cite {
  color: #999;
  display: block;
  margin-top: 10px;
}
@media screen and (max-width: 768px) {
  blockquote {
    padding: 25px 0 0;
    font-size: 14px;
  }
}
.menu-top {
  display: none;
  position: fixed;
  width: 100%;
  height: 50px;
  z-index: 99;
  background-color: #fff;
}
.logo img {
  height: 40px;
  width: auto;
  margin: 5px 0 5px 5px;
}
.menu-navigation {
  text-align: center;
  font-size: 15px;
  line-height: 50px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: 400;
}
.menu-navigation a {
  color: #555;
  transition: 0.5s ease;
}
.menu-navigation .active a,
.menu-navigation a:hover {
  color: #99b8cd;
  transition: 0.5s ease;
}
.menu-navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.menu-navigation li {
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
}
.hamburger,
.menu-small {
  display: none;
}
@media screen and (min-width: 769px) {
  .menu-navigation {
    height: 30px;
    margin: 0 0 10px;
  }
  .menu-navigation ul {
    margin: 0;
    padding: 0;
  }
  .menu-navigation li {
    display: inline-block;
    line-height: 30px;
    height: 30px;
    margin: 0;
    padding: 0;
    position: relative;
  }
  .menu-navigation li a {
    display: block;
    height: 30px;
    line-height: 30px;
    padding: 0 15px;
  }
  .menu-navigation ul ul {
    background-color: #fff;
    display: none;
    position: absolute;
    top: 30px;
  }
  .menu-navigation ul ul li {
    float: none;
    width: 150px;
  }
  .menu-navigation ul ul li a {
    padding: 5px 15px;
    font-size: 12px;
    width: max-content;
    background-color: #fff;
  }
  .menu-navigation ul li:hover > ul {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .menu-top {
    display: none;
  }
  .menu-small {
    display: block;
    position: fixed;
    width: 100%;
    height: 50px;
    z-index: 99;
    transition: 0.5s ease;
  }
  .menu-small.open {
    height: auto;
    background-color: #fff;
    transition: 0.5s ease;
  }
  .menu-small.closed {
    background-color: rgba(255, 255, 255, 0);
  }
  .logo {
    display: none;
  }
  .menu-navigation {
    display: none;
    font-size: 13px;
    line-height: 40px;
  }
  .hamburger,
  .menu-navigation li,
  .menu-small.open .logo,
  .menu-small.open .menu-navigation {
    display: block;
  }
  .logo img {
    margin: 5px 0 5px 5px;
  }
  .menu-navigation li li {
    font-size: 10px;
    line-height: 20px;
    margin-right: 50px;
    text-align: right;
  }
  .hamburger {
    float: right;
    padding: 0;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 20px 20px 0 0;
    overflow: visible;
  }
  .hamburger:hover {
    opacity: 0.7;
  }
  .hamburger-box {
    width: 22px;
    height: 22px;
    display: inline-block;
    position: relative;
  }
  .hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -1px;
  }
  .hamburger-inner,
  .hamburger-inner::after,
  .hamburger-inner::before {
    width: 22px;
    height: 2px;
    background-color: #000;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
  }
  .hamburger-inner::after,
  .hamburger-inner::before {
    content: "";
    display: block;
  }
  .hamburger-inner::before {
    top: -6px;
  }
  .hamburger-inner::after {
    bottom: -6px;
  }
  .hamburger--spring .hamburger-inner {
    top: 2px;
    transition: background-color 0s 0.13s linear;
  }
  .hamburger--spring .hamburger-inner::before {
    top: 6px;
    transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
      transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  .hamburger--spring .hamburger-inner::after {
    top: 12px;
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
      transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  .hamburger--spring.is-active .hamburger-inner {
    transition-delay: 0.22s;
    background-color: transparent;
  }
  .hamburger--spring.is-active .hamburger-inner::before {
    top: 0;
    transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
      transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 10px, 0) rotate(45deg);
  }
  .hamburger--spring.is-active .hamburger-inner::after {
    top: 0;
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
      transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 10px, 0) rotate(-45deg);
  }
}
.approach .step,
.cta .button,
.cta .cont,
.start h2,
footer .copyright {
  text-align: center;
}
.start {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 50px solid #fff;
}
.start .cont {
  top: 40vh;
  left: 50%;
  position: absolute;
}
.start .logo,
.start h2 {
  left: -50%;
  position: relative;
}
.start .logo {
  width: 30%;
  margin: auto;
  display: block;
}
.start h2 {
  margin-top: 20px;
  color: #fff;
  font-size: 20px;
}
@media screen and (max-width: 768px) {
  .start {
    border: 10px solid #fff;
  }
  .start .cont {
    top: 30vh;
  }
  .start .logo {
    width: 40%;
  }
  .start h2 {
    font-size: 16px;
  }
}
.about,
.approach,
.cta,
.one-column,
.portfolio,
.services,
.two-columns {
  padding: 25px 0;
}
.about .subtitle,
.approach .subtitle,
.cta .subtitle,
.one-column .subtitle,
.portfolio .subtitle,
.services .subtitle,
.two-columns .subtitle {
  width: 100%;
}
.about h2,
.approach h2,
.cta h2,
.one-column h2,
.portfolio h2,
.services h2,
.two-columns h2 {
  display: inline-block;
  padding: 10px;
  text-transform: uppercase;
  font-size: 24px;
  margin-bottom: 25px;
}
.about h2,
.cta h2,
.one-column h2,
.portfolio h2 {
  border-bottom: 1.2px #fff solid;
}
.approach h2,
.portfolio-page h2,
.services h2,
.two-columns h2 {
  border-bottom: 1.2px #c4d6e2 solid;
}
@media screen and (max-width: 768px) {
  .about,
  .approach,
  .cta,
  .one-column,
  .portfolio,
  .services,
  .two-columns {
    padding: 25px 10px;
    font-size: 13px;
  }
  .about h2,
  .approach h2,
  .cta h2,
  .one-column h2,
  .portfolio h2,
  .services h2,
  .two-columns h2 {
    font-size: 20px;
  }
  .about img {
    max-height: 200px;
    width: auto;
    display: block;
    float: none;
    margin: auto;
  }
}
.services .icon {
  padding: 0;
}
.services img {
  padding: 0;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  max-width: 70px;
  margin: auto;
  display: block;
}
.services .content {
  margin-bottom: 25px;
}
.services .service {
  margin-bottom: 15px;
  display: flex;
}
.services .service h3 {
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 0;
}
.service .description {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }
@media screen and (max-width: 768px) {
  .services .service {
    margin-bottom: 5px;
  }
  .services .service h3 {
    font-size: 13px;
    font-weight: 700;
    margin: 0;
  }
  .services img {
    max-width: 50px;
  }
  .services .service .description {
    font-size: 11px;
  }
}
.cta .cont {
  width: 100%;
  display: block;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}
.cta .button {
  padding: 10px 10px 5px;
  background-color: #fff;
  color: #555;
}
.approach .step {
  font-size: 24px;
  font-weight: 700;
}
.portfolio .item {
  height: 200px;
}
.portfolio .item .image {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.portfolio .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(196, 214, 226, 0.8);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
  text-align: center;
}
.portfolio .item:hover .overlay {
  height: 50%;
}
.portfolio .item h3 {
  font-size: 18px;
  font-weight: 700;
  margin: 10px 0 0;
}
.portfolio .item h4 {
  font-size: 14px;
}
@media screen and (max-width: 768px) {
  .portfolio .empty {
    display: none;
  }
  .portfolio .item {
    padding: 10px;
  }
  .portfolio .item h3 {
    font-size: 14px;
  }
  .portfolio .item h4 {
    font-size: 12px;
  }
  .portfolio .overlay {
    height: 50%;
  }
}
.portfolio-page {
  margin-top: 50px;
}
.portfolio-page .section {
  padding-left: 0;
}
.portfolio-page img {
  max-width: 100%;
  height: auto;
}
.portfolio-page h2 {
  display: inline-block;
  padding: 10px;
  text-transform: uppercase;
  font-size: 24px;
  margin-bottom: 25px;
}
.portfolio-page h3,
.portfolio-page h4 {
  display: inline-block;
  padding: 10px;
  text-transform: uppercase;
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.portfolio-page h3 {
  border-bottom: 1.2px #fff solid;
}
.portfolio-page h4 {
  border-bottom: 1.2px #c4d6e2 solid;
}
.nf-field-label label {
  font-weight: 300;
}
footer {
  background-color: #99b8cd;
  padding: 20px;
}
footer .copyright {
  margin-top: 20px;
}
footer .social {
  text-align: right;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}
footer .back-to-top {
  width: 40px;
  height: 40px;
  background: rgba(153, 184, 205, 0.8);
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 4px;
  line-height: 40px;
  display: none;
  text-align: center;
}
footer .back-to-top i {
  margin: auto;
}
@media screen and (max-width: 768px) {
  footer .contact,
  footer .social {
    text-align: center;
  }
  footer .social {
    margin-top: 10px;
  }
}
